<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>集锦鱼-在线工具导航</title>
    <meta property="og:description" content="在线工具为您提供在线的文档编辑、图片处理、声音转文字、视频下载、文档下载等实用办公工具导航指引！">
    <meta property="keyword" content="在线工具,在线工具导航,线上办公工具,云软件导航,网页版软件导航,在线小工具导航">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/swiper.min.css">
    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="./js/swiper.min.js"></script>
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="top-bar">
                <a class="logo" href="/">
                    <img src="images/tools/logo.png" alt="工具录">
                </a>
                <span class="">工具录-线上工具导航</span>
            </div>
            <div class="nav limit clear">
                <ul class="nav-list">
                    <li>
                        <a href="/">
                            <p>文字类</p>
                            <span>简单的说明...</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <p>音频类</p>
                            <span>简单的说明...</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <p>视频类</p>
                            <span>简单的说明...</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <p>图片类</p>
                            <span>简单的说明...</span>
                        </a>
                    </li>
                </ul>
                <div class="banner swiper-container">
                    <div class="swiper-wrapper">
                        <div class="item swiper-slide">
                            <img src="images/tools/mulan.jpg" alt="花木兰">
                        </div>
                        <div class="item swiper-slide">
                            <img src="images/tools/mulan.jpg" alt="花木兰">
                        </div>
                        <div class="item swiper-slide">
                            <img src="images/tools/mulan.jpg" alt="花木兰">
                        </div>
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>
                    
                    <!-- 如果需要导航按钮 -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
        <div class="main limit">
            <div class="items item-1">
                <div class="item-title">
                    <h2>热门推荐</h2>
                </div>
                <ul class="clear">
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="images/tools/uzer.png" alt="UZER.ME">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">UZER.ME</a>
                        </h3>
                        <p>致力于全生命周期的文档管理,无需安装,即可在线编辑Office, CAD,PS等任意格式文档,支持远程协作,全文检索,版本管理,权限管理,安全外发等</p>
                    </li>
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                </ul>
            </div>
            <div class="items item-2">
                <div class="item-title">
                    <h2>线上office</h2>
                </div>
                <ul class="clear">
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                </ul>
            </div>
            <div class="items item-3">
                <div class="item-title">
                    <h2>图片处理</h2>
                </div>
                <ul class="clear">
                    <li>
                        <a class="image" href="https://ps.gaoding.com/#/">
                            <img src="images/tools/gaodingsheji_ps.png" alt="在线ps">
                        </a>
                        <h3>
                            <a href="https://ps.gaoding.com/#/">在线PS</a>
                        </h3>
                        <p>稿定设计PS是一款专业精简的在线ps图片处理软件，免下载、免安装，直接在浏览器打开网页版就可随时随地用它修正，调整和美化您的图片。</p>
                    </li>
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                </ul>
            </div>
            <div class="items item-4">
                <div class="item-title">
                    <h2>音频处理</h2>
                </div>
                <ul class="clear">
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                </ul>
            </div>
            <div class="items item-5">
                <div class="item-title">
                    <h2>视频处理</h2>
                </div>
                <ul class="clear">
                    <li>
                        <a class="image" href="http://www.flvcd.com/index.htm">
                            <img src="images/tools/flvcd_logo.jpg" alt="硕鼠官网">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>硕鼠：支持CNTV,新浪,搜狐等84个网站的FLV下载,并提供电视剧</p>
                    </li>
                    <li>
                        <a class="image" href="http://www.shipinyu.com/">
                            <img src="images/tools/shipinyu.png" alt="视频鱼">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>视频鱼:支持腾讯视频,优酷视频,bilibili,acfun,芒果tv,cntv,新浪,搜狐等</p>
                    </li>
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                    <li>
                        <a class="image" href="javascript:void(0);">
                            <img src="" alt="">
                        </a>
                        <h3>
                            <a href="javascript:void(0);">标题标题</a>
                        </h3>
                        <p>简介简介...</p>
                    </li>
                </ul>
            </div>
            <ul class="page-nav">
                <li>
                    <a href="">item-1</a>
                </li>
                <li>
                    <a href="">item-2</a>
                </li>
                <li>
                    <a href="">item-3</a>
                </li>
                <li>
                    <a href="">item-4</a>
                </li>
                <li>
                    <a href="">item-5</a>
                </li>
            </ul>
        </div>
        <div class="footer">
            <div class="limit">

            </div>
            <div class="footer-bar">
                <span>Copyright &copy; 工具在线  All rights reserved. 208281417@qq.com</span>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            var bSwiper = new Swiper('.swiper-container',{
                //direction: 'vertical',
                loop: true,
                // 如果需要分页器
                pagination: {
                el: '.swiper-pagination',
                clickable: true,
                },

                autoplay: true,
                
                // 如果需要前进后退按钮
                navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
                },
            });

            $(window).scroll(function(e){
                var maintop = $('.page .main').offset().top;
                var stop = $(window).scrollTop();
                var result = maintop - stop;
                console.log(result);
                if(result<0) $('.main .page-nav').css('top',-result+'');
            });
        });
    </script>
</body>
</html>